<div class='nested-fields'>
  <%= f.label :photo_file_name, "Image Name" %>
  <%= f.text_field :photo_file_name %><br /><br />
  <%= f.label :photo, "Image File" %>
  <%= f.file_field :photo %><br />
  <%= link_to_remove_association "remove photo", f %><br /><br />
</div>