<div class="uk-grid">
  <div class="uk-width-medium-6-10 uk-push-1-10">
    <article class="uk-article">
        <h1 class="uk-article-title"><%= @article.title %></h1>
        <p class="uk-article-meta">
          Written by <a href="<%= @article.author_url %>" target="_blank"><%= @article.author %></a> on&nbsp
          <% unless @article.published_at.blank? %>
            <%= @article.published_at.strftime("%m-%d-%Y") %>
          <% else %>
            <%= @article.updated_at.strftime("%m-%d-%Y") %>
          <% end %>.
        </p>
        <%= @article.html.html_safe %>
    </article>
  </div>
  <div class="uk-width-medium-3-10 uk-push-1-10">
    <%= image_tag("http://placehold.it/250x450", class: "uk-align-center uk-margin-bottom-remove") %>
  </div>
</div>